html {
  font-size:10px;
}
body{
  background-color:#eee;
  line-height:1.5em;
}

a {
  color:#555;
}

a:visited {
  color:#0000FF;
}

#title {
  font-size:48px;
  font-family:'';
  text-align:center;
  padding: 5px;
}

p {
  text-align:center;
  padding:5px;
  font-size:17px;
}

img{
  display:block;
  max-width:100%;
  height:auto;
}

#img-div{
  background-color:white;
  margin:0;
  padding:15px;
}

#img-caption{
  text-align:center;
  font-size:16px;
  background-color:white;
  padding:10px;
}

#headline{
  text-align:center;
  font-size:18px;
}

ul{
  padding:10px;
  font-size:18px;
  line-height:1.5em;
  text-align:left;
  margin: 0px auto;
  max-width:600px;
}

li{
  margin: 10px 0px;
}

blockquote{
  font-size:18px;
  max-width:500px;
  margin:0px auto;
}

h3{
  text-align:center;
  padding:10px;
  font-size:16px;
}
