@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Audiowide&family=Chelsea+Market&family=DM+Sans&family=Poppins&family=Press+Start+2P&family=Special+Elite&family=Zilla+Slab&display=swap');

html,
body {
  min-width: 300px;
  color: #555;
  background-color: #fff;
  font-family: 'DM Sans', sans-serif;
  line-height: 1.5;
}

#navbar {
  position: fixed;
  margin:0px;
  width: 300px;
  height: 100%;
  border-right: 3px solid #999;
}

header {
  color: black;
  margin: 10px;
  text-align: center;
  font-size: 1.5em;
  font-weight: normal;
}

#main-doc header {
  text-align: left;
  margin: 0px;
}

#navbar ul {
  height: 90%;
  padding: 0px;
  overflow-y: auto;
  overflow-x: hidden;
}

#navbar li {
  position: relative;
  color: #777;
  border-top: 1px solid;
  list-style: none;
  width: 100%;
}

#navbar a {
  display: block;
  padding: 10px 30px;
  color: #555;
  text-decoration: none;
  cursor: pointer;
}

#main-doc {
  position: absolute;
  margin-left: 315px;
  padding: 20px;
  margin-bottom: 115px;
}

section article {
  color: #555;
  margin: 15px;
  font-size: 1em;
}

section li {
  margin: 15px 0px 0px 20px;
}


@media only screen and (max-width: 815px) {
  #navbar ul {
    border: 1px solid;
    height: 205px;
  }

  #navbar {
    position: absolute;
    background-color: white;
    padding: 0px;
    margin: 0px;
    width: 100%;
    max-height: 275px;
    border: none;
    z-index: 1;
    border-bottom: 2px solid;
  }

  #main-doc {
    position: relative;
    margin-left: 0px;
    margin-top: 270px;
  }
}

ul{
  list-style:none;
}
